{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>Страница зявителя</title>
    <link rel="stylesheet" href= {% static "css/styles.css" %}/>
</head>

<body>
    <main>
        <div class="wrapper">
            <div class="first-screen">
                <h1>Отзывы о деятельности и процессах<br>крупной корпорации</h1>
                <div class="button-container">
                    <button class="rounded-button" onclick="location.href='application';">Создать новую
                        заявку</button><br><br>
                    <button class="rounded-button" onclick="location.href='view';">Проверить статус
                        заявки</button><br>
                </div>
                <div class="button-strelo4ka">
                    <button class="bottom-left-button" onclick="location.href='index';"> Стрелочка
                    </button>
                </div>
            </div>
        </div>

    </main>
</body>

</html>